.error404__texto{
    background-color: $color-rojo-primario;
    color: black;
    padding: 2rem;
    margin-top: 14rem;
    margin-bottom: 19rem;
    border-radius: 1rem;
    text-decoration: none;
    transition: all 1s;
    font-weight: 600;
    font-style: italic;
    text-decoration: none;
}
.error404__texto:hover{
    transform: scale(2,2);
    color: black;
    color:$color-amarillo-secundario;
}