$color-bordo-titulos:#7e1a0d;


#carouselExampleCaptions h5{
    color:$color-bordo-titulos;
    font-weight: 900;
}

#carouselExampleCaptions p{
    color:$color-bordo-titulos;
    font-weight: 600;
    margin-top: 7rem;
}