$color-bordo-titulos:#7e1a0d;


#carouselExampleCaptions h5{
    color:$color-bordo-titulos;
    font-weight: 900;
}

#carouselExampleCaptions p{
    color:$color-bordo-titulos;
    font-weight: 600;
    margin-top: 3rem;
}
.carrousel__title{
    font-size: 2.5vh;
    text-align: center;
    margin-bottom: 1rem;

}
.carrousel__text{
    font-size: 1.8vh;
    margin-bottom: 4rem;
    text-align: center;

}