
@media only screen and (max-width:950px) {
    .tablaReseña__imgContainer__img--estilo{
        height: $ancho;
        border-radius: 5px;
    }
    .article{
        width: 90%;
    }
header{
    nav{
        ol{
            li{
                a.nav__link--estilo{
                    font-size:medium;
                }
            }
        }
    }
}
}

@media only screen and (max-width:870px) {
    header{
        flex-direction: column;
        align-items: center;
        #logo{
            margin: -2rem -2rem -3rem -2rem;
            height: 15vh;
            width: auto;
            transition: all 1s;
        }
            nav{
                flex-direction: column;
                ol{
                    flex-direction: row;
                    li{
                        a.nav__link--estilo{
                            font-size: small;
                        }
                    }
                }
                form{
                    margin-bottom: 1rem;
                }
        }
    }
}
@media only screen and (max-width:450px) {
    header{
            nav{
                ol{
                    flex-direction: column;
        }
    }
}
}
