
@media only screen and (max-width:1000px) {
    .tablaReseña__imgContainer__img--estilo{
        height: $ancho;
        border-radius: 5px;
    }
    .article{
        width: 90%;
    }
    header{
        flex-direction: column;
        align-items: center;
        #logo{
            margin: -2rem -2rem -3rem -2rem;
            height: 15vh;
            width: auto;
            transition: all 1s;
        }
            nav{
                flex-direction: column;
                ol{
                    flex-direction: row;
                    li{
                        a.nav__link--estilo{
                            font-size: medium;
                        }
                    }
                }
                form{
                    margin-bottom: 1rem;
                }
        }
    }

    div.contacto__logo--estilo{
        height: 40vh;
        width: auto;
        margin: -8rem 0;
    }

    .nosotros__img--estilo{
        height: 480px;
        width: auto;
    }
}

@media only screen and (max-width:550px) {
    header{
        nav{
            ol{
                flex-direction: column;
            }
        }
    }
    div.contacto__logo--estilo{
        height: 30vh;
        width: auto;
        margin: -2rem 0;
    }
    h1{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem;
        font-size: 4vh;
    }

    .nosotros__img--estilo{
        height: 300px;
        width: auto;
    }
}