@media only screen and (max-width:1000px) 
{
    .tablaReseña{
        max-width: fit-content;
    }
    .tablaReseña__imgContainer{
        flex-direction: column;
    }
    .tablaReseña__imgContainer__img--estilo{
        height: $ancho;
        border-radius: 5px;
    }
    .article{
        width: 90%;
    }
}
@media only screen and (max-width:768px) {
    
    header{
            nav{
                display: flex;
                flex-direction: column;
                ol{
                    display: flex;
                    flex-direction: column;
            }
        }
    }
}
